<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="text-align: center">Contact Page</h1><hr/>
    <!-- achievment-contact starts from here  -->

  <div class="achievment-contact">
    <div class="achievement col-4">
         <h2 id="h2">ACHIEVEMENTS</h2>
         <hr class="dotted-hr">
         
         <p>1.Developed a responsive website design that improved user experience and increased conversion rates.</p>
         <p>2.Designed and implemented a mobile-first approach to website development, ensuring that the website is fully functional and visually appealing on mobile devices.</p>
         <p>3.Worked collaboratively with a team of designers, developers, and project managers to deliver a successful website project.</p>
         <p>4.Improved website SEO through structured data markup and optimized content for search engines.</p>
    </div>
    <div class="contact col-4" id="contact">
       <h2>CONTACT ME</h2>
       <hr class="dotted-hr">
    <form action="mailto:mdsohelshaikh742@gmail.com" method="post" enctype="text/plain">
        <p><input type="text" placeholder="Your Name" name="name"></p>
        <p><input type="email" placeholder="Your Email" name="email"></p>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message Here"></textarea>
        <button type="submit">SEND</button>
        <button type="reset">RESET</button>
    </form>



    </div>
    <div class="contact-links col-4">
      <h2 style="color:red;">More ways to Contact</h2>
      <hr class="dotted-hr">
      <div class="media-buttons">
        <button class="btn" onclick="window.open('')" class="request-callback"><i class="fa fa-youtube-play" aria-hidden="true" style="color:red;"></i></button>
        <button class="btn" onclick="window.open('https://web.facebook.com/rohan.chaudhory')" class="request-callback"><i class="fa fa-facebook-official" aria-hidden="true" style="font-size: 1.7rem; color:red;"></i>
        </button>
        <button class="btn" onclick="window.open('https://github.com/Md-Shohel-Rana')" class="request-callback"><i class="fa fa-github" aria-hidden="true"style="font-size: 1.7rem;color:red;"></i></button>
        <button class="btn" onclick="window.open('https://www.linkedin.com/in/md-sohel-shaikh-05aba3234/')" class="request-callback"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 1.7rem; color:red;"></i></button>
      </div>
    </div>

  </div>

<!-- achievment-contact ends  from here  -->


<!-- footer starts from here  -->
<div class="footer">
    <div class="footer-menu col-6">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/skill">Skill</a>
        <a href="/contact">Contact</a>
        <a href="/">Home</a>
    </div>
    <div class="footer-desc col-6">
        &copy; Sohel 2023. Developed with <span style="color:red;">❤</span> by md sohel Shaikh.
    </div>
 </div>
<!-- footer ends from here  -->
</body>
</html>
