<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body style="background-color:aqua;">
      <!-- Navbar Start Here -->
   
      <h1 style="text-align:center;">Home Page</h1><hr/>

      <div class="navbar">
        <div class="navbar-logo col-2">
          <img class="logo" src="./images/logo.jpg" alt="logo" >
        </div>
        <div class="nav-heading col-4">
             <h1>Md Sohel Shaikh</h1>
        </div>
        <div class="navbar-menu col-6">
             <a href="/">home</a>
             <a href="/register">Register Now</a>
             <a href="/contact">Contact</a>
             <a href="/servise">servise</a>
             <a href="/login">Contact Me</a>
        </div>
    </div>
   <!-- Navbar Ends Here -->

     <!-- profile starts here  -->

     <div class="profile" id="aboutme">
        <img class="top-icon" src="./images/ico.png" alt="top laptop icon">
    <div class="profile-desc">
        <h1>I am a Front-End Web-Developer</h1>
        <p>Hi! My name is Sohel Shaikh. Welcome to my personal page that As an front-end developer with 1+ years of experience, I am passionate about creating engaging and user-friendly websites that provide seamless user experiences. With a strong foundation in HTML, CSS,Bootstrap and JavaScript, I have experience in building responsive websites that are optimized for various devices and platforms. I am proficient in using modern front-end frameworks such as React and I am constantly learning and adapting to new technologies Node.js,Express.Js,MongoDB and tools to improve my skills</p>
    </div>
    <img class="bottom-icon" src="./images/ico.png" alt="bottom laptop icon">
    
    
    </div>

    <!-- profile ends here  -->

    <!-- about me starts here  -->
    

    <!-- footer starts from here  -->
 <div class="footer">
    <div class="footer-menu col-6">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/skill">Skill</a>
        <a href="/contact">Contact</a>
        <a href="/">Home</a>
    </div>
    <div class="footer-desc col-6">
        &copy; Sohel 2023. Developed with <span style="color:red;">❤</span> by md sohel Shaikh.
    </div>
 </div>
<!-- footer ends from here  -->

</body>
</html>