<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skills</title>
</head>
<body>
     <!-- Navbar Start Here -->
   
     <h1 style="text-align:center;">Skills</h1><hr/>

     <div class="navbar">
       <div class="navbar-logo col-2">
         <img class="logo" src="./images/logo.jpg" alt="logo" >
       </div>
       <div class="nav-heading col-4">
            <h1>Md Sohel Shaikh</h1>
       </div>
       <div class="navbar-menu col-6">
            <a href="/">home</a>
            <a href="/register">Register Now</a>
            <a href="/contact">Contact</a>
            <a href="/servise">servise</a>
            <a href="/login">Contact Me</a>
       </div>
   </div>
  <!-- Navbar Ends Here -->
     <div>
        <h2>Skills</h2>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">Bootstrap</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">Node.Js</a></li>
        <li><a href="#">Express.Js</a></li>
        <li><a href="#">MongoDB</a></li>
        <li><a href="#">React.Js</a></li>
     </div>


     
        <!-- footer starts from here  -->
 <div class="footer">
    <div class="footer-menu col-6">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/skill">Skill</a>
        <a href="/contact">Contact</a>
        <a href="/">Home</a>
    </div>
    <div class="footer-desc col-6">
        &copy; Sohel 2023. Developed with <span style="color:red;">❤</span> by md sohel Shaikh.
    </div>
 </div>
<!-- footer ends from here  -->

</body>
</html>